@import "src/styles.scss";

section {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 2.25rem;
    background-color: hsl(231, 80%, 17%);


    .boto {
        background-color: hsl(232, 100%, 84%);
        color: hsl(232, 100%, 25%);

        border-radius: 1.25rem;
        padding: 0.5rem 1rem;

        font-weight: bold;
    }

}


